<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body >
  	<div id="data">
	  	<div class="container">
		    <div class="row">
		      <div class="col-sm-12">
				  <h4 id="main-text">Recent Data</h4>
		      	<table class="table table-hover">
		      		<thead>
		      			<th>DuckID</th>
		      			<th>Timestamp</th>
		      			<th>Message ID</th>
		      			<th>Path</th>
		      			<th>Payload</th>
		      			<th>Hops</th>
		      			<th>Duck type</th>
		      		</thead>
		      		<tbody>
					<% something.forEach(function(duck) { %>
		      			<tr>
		      				<td><%= duck.duck_id %></td>
		      				<td><%= duck.timestamp %></td>
		      				<td><%= duck.message_id %></td>
		      				<td><%= duck.path %></td>
		      				<td><%= duck.payload %></td>
		      				<td><%= duck.hops %></td>
		      				<td><%= duck.duck_type%></td>
		      			</tr>
					<% }); %>

		      		</tbody>
		      	</table>        
		      </div>
		  </div>
	    </div>
	</div>
    <%- include partials/footer.ejs %>
  </body>
  <script>
	  function reloadThePage(){
		  window.location.reload();
	  }
	  setInterval(reloadThePage,8000)
  </script>
</html>
