<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body>
  	<div id="ducks">
	  	<div class="container">
		    <div class="row">
		      <div class="col-sm-12">
		      	<h4 id="main-text">Ducks in your network</h4>

		      	<div class="ducks-list">

							<% something.forEach(function(duck) { %>
								<div class="duck">
									<div class="inner">
										<div class="container-fluid">
											<div class="row">
												<div class="col-sm-7 identity">
													<div class="icon"><img src="/images/duck_dark.png" alt="data"><%= duck.duck_id %></div>
												</div>
												<div class="col-sm-5 status">
													<p>offline</p>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<p class="mid"><%= duck.duck_id %></p>
													<p class="payload">	Test*Test* Lorem ipsum dolor</p>
												</div>
											</div>
											<p class="updated">Updated: 14:17 5/11/2020</p>
										</div>
									</div>
								</div>
							<% }); %>
		      	</div>
		      </div>
			</div>
		</div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
